<footer class="site-footer">

	<table border="0" width="100%">
		<tr>
			<td width="20%">
			</td>

			<td valign="top">

				<br/><br/>
				<strong>Main Marley Websites:</strong>
				<br/><br/>

				<ul>
					<li><a href="https://jsdev.org" rel="nofollow">JavaScript + Frameworks</a></li>
                    <li><a href="https://javadev.org" rel="nofollow">Java</a></li>
				</ul>

			</td>

			<td width="5%">

			</td>

			<td valign="top">

                <br/><br/><br/><br/>

                <strong>If you study java { or | and } javascript, you can share your experience with us. We study video courses to improve developer skills</strong>
			</td>

		</tr>
	</table>

	<br/><br/>

	<div class="container">
		<p class="copyright">&copy; {{ year }} &nbsp;&nbsp;&nbsp;&nbsp; {{ organization }}</p>
	</div>


</footer>

<script data-main="/js/main" src="/js/libs/requirejs/require.js" type="application/javascript"></script>

<!-- Google Analitics -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-4894954-27', 'auto');
  ga('send', 'pageview');

</script>

<!-- Google Analitics -->
