# Page title
This sample page template is powered by [GitHub Flavored Markdown](https://help.bitbucket.org/articles/github-flavored-markdown/) and exists as a [Swig template](http://paularmstrong.github.io/swig/) at `/views/page.html`.

## Sub-heading *H2*

### Micro-heading *H3*
Frankfurter boudin sirloin pork chop beef meatloaf alcatra pancetta. Capicola shank boudin leberkas chicken. Venison tri-tip boudin meatloaf, tongue doner ground round pork rump ham hock beef ribs bresaola strip steak shoulder frankfurter. Venison ribeye meatball swine tri-tip brisket bresaola filet mignon chuck shoulder alcatra capicola corned beef leberkas drumstick.

### Code Block
```html
<header class="story-lead">
	<h2 class="flag"><a href="/businessreports/">Business Report</a></h2>
	<h3>Computing News</h3>
	<h1>Rise of the Robot Security Guards</h1>
	<p class="intro">Startup Knightscope is preparing to roll out human-size robot patrols.</p>
	<p class="byline">By <a href="/author/rachel-metz/">Rachel Metz</a> on <time>November 13, 2014</time></p>
</header>
```

### Image Embed
![Lava boom boom](//ppcdn.500px.org/63772753/b3e7c88c650481473c555b3a5ff083e99008abc1/2048.jpg)

## Lists

### Unordered
* Venison ribeye
* Meatball swine tri-tip brisket
* Bresaola filet mignon chuck shoulder
* Alcatra capicola
* Corned beef leberkas drumstick

### Ordered
1. Venison ribeye
1. Meatball swine tri-tip brisket
1. Bresaola filet mignon chuck shoulder
1. Alcatra capicola
1. Corned beef leberkas drumstick

## Tables
Standard table layout.

| Ad type           | Dimensions | Expansion size	    | Direction | Initial	   | Max		   | Looping  | Rich Media |
|-------------------|------------|----------------------|-----------|--------------|---------------|----------|------------|
| Leaderboard       | 728 x 90   | 728 x 315            | Down      | 40 KB        | 45 KB         | 3 Cycles | Yes        |
| Medium Rectangle  | 300 x 250  | 600 x 250            | Left      | 40 KB        | 45 KB         | 3 Cycles | Yes        |
| Half Page         | 300 x 600  | 600 x 600            | Left      | 40 KB        | 45 KB         | 3 Cycles | Yes        |
| Wide Skyscraper   | 160 x 600  | --                   | Left      | 40 KB        | 45 KB         | 3 Cycles | Yes        |
| Super Leaderboard | 970 x 90   | --                   | --        | 40 KB        | 45 KB         | 3 Cycles | Yes        |
| Welcome Ad        | 640 x 480  | --                   | --        | 60 KB        | 80 KB         | --       | Yes        |
|                   | 320 x 240  | --                   | --        | 30 KB        | 40 KB         | 3 Cycles | Yes        |
